body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.circular--portrait {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
  margin-top: -10px;
}
