/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #f8f8f7;
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #292b2e;
  --global-text-color-light: #666b70;
  --global-theme-color: #176b87;
  --global-hover-color: #0f536b;
  --global-hover-text-color: #{$white-color};
  --global-accent-color: #8f1d2c;
  --global-theme-soft-color: #edf5f7;
  --global-accent-soft-color: #f7ecee;
  --global-footer-bg-color: #f0f0ee;
  --global-footer-text-color: #666b70;
  --global-footer-link-color: #176b87;
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(41, 43, 46, 0.13);
  --global-card-bg-color: #ffffff;
  --global-soft-shadow: 0 6px 20px rgba(28, 35, 39, 0.07);

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #1d2022;
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #f1ece7;
  --global-text-color-light: #c2b9b2;
  --global-theme-color: #70b8d0;
  --global-hover-color: #9bd0e1;
  --global-hover-text-color: #{$white-color};
  --global-accent-color: #e98b96;
  --global-theme-soft-color: #25353b;
  --global-accent-soft-color: #3c292d;
  --global-footer-bg-color: #17191a;
  --global-footer-text-color: #c2b9b2;
  --global-footer-link-color: #70b8d0;
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: rgba(236, 225, 216, 0.14);
  --global-card-bg-color: #262a2c;
  --global-soft-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
